<style>
 .feedtab {
	  background-color : black
	};
</style>

<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Live events</nb-card-header>
      <nb-card-body>
		<div class="alert alert-success feedtab" role="alert">
          <strong>Utatuzi : </strong> Bomba la maji bonde la mpunga limekarabatiwa. Ripoti toka dawasco Fundi Albert Peter.
        </div>
		
        <div class="alert alert-warning feedtab" role="warning">
          <strong>Angalizo : </strong> Riporti ya umeme kukatika mtaa wa Amani inashugulikiwa.
        </div>
        
        <div class="alert alert-danger feedtab" role="alert">
          <strong>Tatizo :</strong> Mtaa wa bonde la mpunga kumeripotiwa bomba la maji kupasuka.
        </div>
		
		<div class="alert alert-success feedtab" role="alert">
          <strong>Tatizo : </strong> Tawi la Tabata wameripoti ukosefu wa umeme katika ibada ya leo. 
        </div>
        <div class="alert alert-warning feedtab" role="warning">
          <strong>Angalizo :</strong> Mkuu wa wilaya amepokea lalamiko kutoka kwa mwenyekiti wa serikali za mitaa kuhusu ubovu wa barabara.
        </div>
        
        <div class="alert alert-danger feedtab" role="alert">
          <strong>Tatizo :</strong> Mti umeanguka barabarani mtaa wa kawe.
        </div>
		
		<div class="alert alert-success feedtab" role="alert">
          <strong>Utatuzi :</strong> Bomba la maji bonde la mpunga limekarabatiwa. Ripoti toka dawasco Fundi Albert Peter.
        </div>
		
        <div class="alert alert-warning feedtab" role="warning">
          <strong>Angalizo :</strong> Riporti ya umeme kukatika mtaa wa Amani inashugulikiwa.
        </div>
        
        <div class="alert alert-danger feedtab" role="alert">
          <strong>Tatizo :</strong> Mtaa wa bonde la mpunga kumeripotiwa bomba la maji kupasuka.
        </div>
        
        <div class="alert alert-danger feedtab" role="alert">
          <strong>Tatizo :</strong> Mti umeanguka barabarani mtaa wa kawe.
        </div>
		
		<div class="alert alert-success feedtab" role="alert">
          <strong>Utatuzi : </strong> Bomba la maji bonde la mpunga limekarabatiwa. Ripoti toka dawasco Fundi Albert Peter.
        </div>
		
		<div class="alert alert-success feedtab" role="alert">
          <strong>Utatuzi : </strong> Bomba la maji bonde la mpunga limekarabatiwa. Ripoti toka dawasco Fundi Albert Peter.
        </div>
		
      </nb-card-body>
    </nb-card>
  </div>
</div>