<!-- 
<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header>Inline form</nb-card-header>
      <nb-card-body>
        <form class="form-inline">
          <input type="text" class="form-control full-width" placeholder="Jane Doe">
          <div class="input-group full-width">
            <div class="input-group-addon">@</div>
            <input type="text" class="form-control" placeholder="Email">
          </div>
          <nb-checkbox>Remember me</nb-checkbox>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
--> 

<div class="row">
 <div class="col-md-3">
 </div>
  <div class="col-md-6">
    <nb-card>
      <nb-card-header>Usajili wa mwanachama mpya</nb-card-header>
      <nb-card-body>
		<form>
          <div class="form-group">
            <label for="exampleInputEmail1">Jina la kwanza</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Jina la kwanza">
          </div>
		  <div class="form-group">
            <label for="exampleInputEmail1">Jina la pili</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Jina la pili">
          </div>
		  <div class="form-group">
            <label for="exampleInputEmail1">Jina la Ukoo</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Jina la ukoo">
          </div>
		  <div class="form-group">
          <label>Wilaya</label>
          <select class="form-control">
            <option>Ilala</option>
            <option>Temeke</option>
            <option>Kinondoni</option>
            <option>Kigamboni</option>
            <option>Ubungo</option>
          </select>
        </div>
		<div class="form-group">
          <label>Mtaa</label>
          <select class="form-control">
            <option>Bonde la mpunga</option>
            <option>Amani</option>
            <option>Tumaini</option>
            <option>Malumbano</option>
          </select>
        </div>
		 <div class="form-group">
            <label for="exampleInputEmail1">Namba ya uanachama</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="No ya uanachama">
          </div>
          <button type="submit" class="btn btn-danger">Wasilisha</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
 <div class="col-md-3">
 </div>
</div>
