<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Attendance
		  <div class="dropdown" ngbDropdown>
			<button type="button" ngbDropdownToggle class="btn"
                [ngClass]="{ 'btn-outline-success': currentTheme == 'default', 'btn-primary': currentTheme != 'default'}">
			{{ type }}
			</button>
			<ul class="dropdown-menu" ngbDropdownMenu>
				<li class="dropdown-item" *ngFor="let t of types" (click)="type = t">{{ t }}</li>
			</ul>
		  </div>
	  </nb-card-header>
      <nb-card-body>
        <div *ngIf="chart">
		  <canvas id="canvas">{{ chart }}</canvas>
		</div>		
      </nb-card-body>
    </nb-card>
  </div>
</div>
